.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 1s;
  flex-wrap: nowrap;
  align-content: stretch;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-delay: 1s;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding-right: 0px;
    opacity: 1;
    display: flex;
  }
}
.freeBox___8INul {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox___8INul > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___8INul > :global(.__wab_flex-container) > *,
.freeBox___8INul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8INul > :global(.__wab_flex-container) > picture > img,
.freeBox___8INul
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8INul {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8INul > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__tmsNg {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  background: #dc3232;
  padding-right: 30px;
  margin-left: calc(0px + 16px) !important;
  margin-right: 0px;
  padding-left: 39px;
  min-width: 0;
}
.freeBox__tmsNg > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tmsNg > :global(.__wab_flex-container) > *,
.freeBox__tmsNg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tmsNg > :global(.__wab_flex-container) > picture > img,
.freeBox__tmsNg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tmsNg {
    display: flex;
    flex-direction: column;
    margin-left: calc(0px + 16px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tmsNg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tmsNg > :global(.__wab_flex-container) > *,
  .freeBox__tmsNg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tmsNg > :global(.__wab_flex-container) > picture > img,
  .freeBox__tmsNg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__dsAdD {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 696px;
  width: 100%;
  min-width: 0;
}
.freeBox__dsAdD > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__dsAdD > :global(.__wab_flex-container) > *,
.freeBox__dsAdD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dsAdD > :global(.__wab_flex-container) > picture > img,
.freeBox__dsAdD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dsAdD > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dsAdD > :global(.__wab_flex-container) > *,
  .freeBox__dsAdD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dsAdD > :global(.__wab_flex-container) > picture > img,
  .freeBox__dsAdD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.img__rpqT {
  object-fit: cover;
  width: 40px;
  height: 40px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 0;
}
.img__rpqT > picture > img {
  object-fit: cover;
}
.img__rpqT > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___7QqV4 {
  position: relative;
  color: #ffffff;
}
.textInput:global(.__wab_instance) {
  max-width: 181px;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.svg__jKnAs {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__kUfzb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.search:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: calc(0px + 8px) !important;
}
.svg__oKnmf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__rSuR0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 33px;
  width: 1em;
}
.svg___5UMmv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button2__q8TRf:global(.__wab_instance) {
  max-width: 100%;
  width: 75px;
  flex-shrink: 0;
}
.svg__xWMfi {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__wSFaS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 11px;
  color: #0b23e4;
  height: 1em;
}
.freeBox___8Ekw4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__hgKvp {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox___9AV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__fAwMs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__cjpNc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  padding-right: 15px;
}
.svg__uipj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox___3VU3D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button2__x8Pve:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__kqj5Z {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__jD49Y {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__n3UNu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__vhf7T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h1 {
  color: #7822aa;
}
.freeBox__tok28 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1098px;
  width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-top: 0px;
}
.httpApiFetcher__faBh4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox___9LxkD {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}
.link {
  position: relative;
  display: flex;
  margin: 10px;
}
.img__aSk7H {
  object-fit: cover;
  max-width: 100%;
  width: 206px;
  flex-shrink: 0;
  border: 1px solid #ff0000;
}
.img__aSk7H > picture > img {
  object-fit: cover;
}
.img__aSk7H > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___2005O {
  padding-right: 244px;
  color: #535353;
  font-weight: 700;
  font-size: 40px;
}
.freeBox__vO3J7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__lRigc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #535353;
  font-family: "Inika", serif;
  font-size: 24px;
  min-width: 0;
}
.httpApiFetcher___1OlBu:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.freeBox__bcrKd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  z-index: 1;
  border: 1px solid #000000;
}
.img__bj6T {
  object-fit: cover;
  max-width: 15%;
}
.img__bj6T > picture > img {
  object-fit: cover;
}
.img__bj6T > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
